<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg">
    <title>Comments</title>
</head>
<body>
    <section class="top">
      
    </section>
    <h2 class="note-title">
        <%= item.name %> 
    </h2>
    <form autocomplete="off" action="/<%= item.id %>/comment" method="POST">
        <textarea name="comment" id="comment" cols="40" rows="5"></textarea>
        <div><input class="btn btn-add-3" type="submit" value="Submit"></div>
    </form>
    <h1>
        Notes:
    </h1>
    <ul class="comment-list">
        <% item.comment.forEach(c => { %>
            <li class="comment-item"><%= c.comment %> </li>
        <% }) %>
    </ul>    
    <div class="comment-btn-list">
    <button class="btn btn-home"><a href="./../">Home</a></button>
    <form method="POST" action="/<%= item.id%>/comment?_method=DELETE"> 
        <button class="btn danger-btn">
            Clear
        </button>
       
    </form>
    </div>
    <br><br>
    <section class="bottom">
      
    </section>
</body>
</html>