<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg">
    <title>Edit Item</title>
</head>
<body>
  <section class="top">
      
  </section>
    <div class="edit-container">
        <h1>Edit Item</h1>
        <div>
            <form autocomplete="off" action="/<%=item.id%>?_method=PUT" method="POST">
                <div class="row">
            <label for="name">Item Name</label>
              <input type="text" value="<%= item.name %>" name="name" id="name">
            </div> <br><div class="row">
       
              <label for="purchasePrice">Item Price (CAD$)</label>
              <input type="text" value="<%= item.purchasePrice %> " placeholder="Enter dollar amount. Integers only" name="purchasePrice" id="purchasePrice">
            </div><br><div class="row">
              <label for="purchaseDate">Purchase Date</label> 
              <input type="date" name="purchaseDate" value="<%= item.purchaseDate.toLocaleDateString() %>"> 
            </div> <br><div class="row">
        
            </div>
              <button type="submit" class="btn btn-add-2">Update</button>
              <a href="./../"><button class="btn btn-home">Home</button></a>
          </form>
        </div> 
      </form>
    </div>
    <br><br><br><br><br><br>
    <section class="bottom">
      
    </section>
</body>
</html>