@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


body {
  padding: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-text-color: rgb(0, 8, 124);
}

.top {
  height: 9vh;
  top: 0;
}

.add{
  background-color: var(--main-text-color);
  color: rgb(255, 255, 255);
}

.add:hover {
  color: rgb(220, 220, 220);
}

.bottom {
  height: 7vh;
  bottom: 0;
}
.head-title {
  font-weight: bold;
  margin-top: 20px;
  font-size: 40px;
}

.track {
  margin-top: 10px;
  color: var(--main-text-color);
  font-size: 24px;
  margin-left: 70px;
}

.google {
  text-align: center;
  text-decoration: underline;
  font-size: 1.5rem;
  margin-right: 30px;
  color: rgb(246, 246, 246);
  transition: 0.2s;
}

.google:hover {
  color: rgb(216, 216, 216);
}

li {
  list-style-type: none;
  margin: 20px 0;
}

a {
  color: #00B7FF;
}

label {
  text-align: center;
  font-size: 1.6em;
}

img {
  height: 30px;
  width: 30px;
}

input {
  height: 50px;
}
.head-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  margin: 0 20px;
}

.card {
  border: 5px solid var(--main-text-color);
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  padding: 0 5px 15px 5px;
}

.card-title {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 30px;
}

.money {
  color:rgb(0, 167, 0);
  margin-left: 10px;
}

.date {
  color:rgb(99, 99, 99);
}
.add-btn {
  height: 50px;
  width: 130px;
  color: rgb(255, 255, 255);
  background-color: var(--main-text-color);
  font-size: 18px;
  border-radius: 10px;
  margin-top: -10px;
  margin-right: 10px;
  font-family: 'Poppins', sans-serif;
}

.btn {
  height: 35px;
  width: 85px;
  font-size: 15px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

.btn-home-edit {
  margin-left: 20px;
}

#comment-danger-btn {
  margin-top: 20px;
}

.comment-btn {
  margin-right: 10px;
  background-color:rgb(99, 99, 99);
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

.edit-btn {
  background-color: var(--main-text-color);
  cursor: pointer;
  color: white;
}

.danger-btn {
  background-color: rgb(255, 0, 0);
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.add-btn:hover {
  cursor: pointer;
  background-color: rgb(0, 9, 140);
  color:rgb(182, 182, 182);
}

.comment-item {
  margin: 40px 0;
  font-size: 1.4rem;
  text-align: center;
  margin-right: 40px;
}

.edit {
  background-color: rgb(10, 100, 10);
  color: white;
}

.total-value {
  font-weight: bold;
  color: rgb(73, 73, 73);
  margin-top: 70px;
  font-size: 32px;
}

.sum {
  font-size: 20px;
}

.all-items {
  margin-top: 30px;
  margin-bottom: 20px;
  color: rgb(99, 99, 99);
  font-size: 40px;
}

#comment-id {
  height: 20px;
  width: 40px;
}

section {
  background-color: var(--main-text-color);
  width: 100vw;
}

.bottom-container {
  margin: 0;
}

.top-sum {
  margin-bottom: -15px;
}

.sum {
  font-size: 22px;
}

.cad {
  color: rgb(255, 0, 0);
}

.usd {
  color: rgb(0, 153, 255);
}

.btn-add-2 {
  background-color: var(--main-text-color);
  color: white;
  cursor: pointer;
}

.btn-home {
 background-color:rgb(99, 99, 99);
 cursor: pointer;
 color: white;
}

input {
  margin-left: 20px;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  border-radius: 10px;
  font-size: 20px;
}

.btn-add-3 {
  height: 40px;
  width: 100px;
  margin-top: 10px;
  color: rgb(255, 255, 255);
  background-color: var(--main-text-color);
  font-size: 18px;
  cursor: pointer;
  margin-right: 20px;
}

.note-title {
  text-transform: capitalize;
  font-size: 36px;
}

.comment-list {
  list-style-type: circle;
}

.edit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



@media only screen and (max-width: 500px) {
  .item-container {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }
  textarea {
    margin: 0 20px;
  }


  .danger-btn, .btn-add-2, .edit-btn, .comment-btn, .btn-home {
    height: 45px;
    width: 95px;
    font-size: 17px;
  }

  #comment {
    width: 70vw;
  }
  .track {
    display: block;
    margin-right: 70px;
  }
  input {
    display: block;
    margin-top: 10px;
  }

  input[type="date"] {
    width: 45vw;
  }

  .btn-add-3 {
    width: 120px;
  }

  .btn-add-2 {
    font-weight: normal;
  }

  .comment-danger-btn {
    margin-top: 30px;
    margin-bottom: 120px;
  }

  .btn-home-edit {
    margin-left: 20px;
  }

}