@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


body {
  padding: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-text-color: rgb(0, 8, 124);
}

.top {
  height: 9vh;
  top: 0;
}

.add{
  background-color: var(--main-text-color);
  color: rgb(255, 255, 255);
}

.add:hover {
  color: rgb(220, 220, 220);
}

.bottom {
  height: 7vh;
  bottom: 0;
}
.head-title {
  font-weight: bold;
  margin-top: 20px;
  font-size: 40px;
}

.track {
  margin-top: 10px;
  color: var(--main-text-color);
  font-size: 24px;
  margin-left: 70px;
}

.google {
  text-align: center;
  font-size: 1.5rem;
  margin-right: 30px;
  color:rgb(203, 249, 0);
}

.google:hover {
  color:rgb(181, 221, 0);
}

li {
  list-style-type: none;
  margin: 20px 0;
}

a {
  color: #00B7FF;
}

label {
  text-align: center;
  font-size: 1.6em;
}

img {
  height: 30px;
  width: 30px;
}

input {
  height: 50px;
}
.card {
  border: 5px solid var(--main-text-color);
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.head-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.item-container {
width: 35vw;
}

.add-btn {
  height: 40px;
  width: 120px;
  color: rgb(255, 255, 255);
  background-color: var(--main-text-color);
  font-size: 18px;
  border-radius: 10px;
  margin-top: -10px;
  font-family: 'Poppins', sans-serif;
}

.add-btn:hover {
  cursor: pointer;
  background-color: rgb(0, 9, 140);
  color:rgb(182, 182, 182);
}

.comment-item {
  margin: 10px;
  font-size: 1.4rem;
}

.edit {
  background-color: rgb(10, 100, 10);
  color: white;
}
.card-title {
  font-weight: bold;
}

/* .button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
} */

.total-value {
  font-weight: bold;
  color: rgb(73, 73, 73);
  margin-top: 70px;
  font-size: 32px;
}

.sum {
  font-size: 20px;
}

.all-items {
  margin-top: 30px;
  margin-bottom: 20px;
  color: rgb(99, 99, 99);
  font-size: 40px;
}

#comment-id {
  height: 20px;
  width: 40px;
}

section {
  background-color: var(--main-text-color);
  width: 100vw;
}

.bottom-container {
  margin: 0;
}

.top-sum {
  margin-bottom: -15px;
}

.sum {
  font-size: 22px;
}

.cad {
  color: rgb(255, 0, 0);
}

.usd {
  color: rgb(0, 153, 255);
}

